html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    font-family: 'Lato', sans-serif;
}

/* style headernya */
h1 {
    margin: 0;
    color: #ffffff;
    font-size: 72px;
}

h2 {
    margin: 0;
    padding: 30px 0px 10px 0px;
    text-transform: uppercase;
    font-size: 18px;
}

h3 {
    font-size: 34px;
    margin: 0;
    padding: 20px 0px;
}

p {
    margin: 0;
    padding: 0;
    color: #666;
    font-size: 20px;
    letter-spacing: 0.04em;
    line-height: 1.4em;
}

.menu-utama {
    background-color: #e8e8e8;
    height: 80px;
    box-shadow: 0px 0px 10px #cccccc;
}

/* logo ikipnya */
.logo-ikip img {
    width: 50px;
}

.logo-ikip {
    display: block;
    position: absolute;
    left: 80px;
    top: 15px;
}

/* menu kanan atas */
.menu-utama ul {
    padding: 0;
    margin: 0;
    float: right;
    position: relative;
    top: 34px;
    right: 80px;
}

.menu-utama ul li{
    display: inline;
}

.menu-utama ul li a {
    text-decoration: none;
    margin: 20px;
    font-size: 14px;
    padding: 0px 4px 6px 4px;
    text-transform: uppercase;
    color: #303030;
}

/* home awal */
#konten-awal {
    background: url('img/home.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 90%;
}

.wrapper-konten-awal {
    width: 80%;
    position: relative;
    top: 30%;
    margin: 0 auto;
}

.line {
    text-decoration: line-through;
    text-decoration-color: #f509cd;
    font-style: italic;
}

.pink-txt {
    color: #f509cd;
}

.forum-ikip a {
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #ffffff;
    font-weight: bold;
    padding: 12px 20px;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0px 30px 0px 0px;
}

.forum-ikip {
    padding: 60px 0px 0px 0px;
}

.wrapper-konten-awal a:hover {
    color: #000000;
    background-color: #ffffff;
    transition: 0.20s ease-in-out;
}

/* skills */
.konten-turunan-edukasi {
    padding: 100px 0px;
    display: grid;
    margin: 0 auto;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 50px;
    text-align: center;
}

.konten-turunan-edukasi p {
    font-size: 14px;
}

.konten-turunan-edukasi img {
    width: 250px;
}

.dark {
    color: #666;
}

.big {
    font-size: 38px;
}

hr {
    margin: 0 auto;
    width: 30px;
}

.header-persesi {
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
    padding: 0px 0px 100px 0px;
}

.header-persesi2 {
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
    padding: 0px 0px -50px 0px;
}

.header-persesi3 {
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
    padding: 0px 0px 100px 0px;
}

/* about me */
.konten-tentang-saya {
    grid-template-columns: 1fr 1fr;
    display: grid;
    margin: 0 auto;
    width: 60%;
    padding: 0px 0px 100px 0px;
}

.img {
    width: 300px;
}

.konten-tentang-saya h2 {
    padding: 0;
    color: #a3a3a3;
}

.konten-tentang-saya h3 {
    padding: 20px 0px 40px 0px;
}

.konten-tentang-saya div:nth-child(2) {
    margin: auto;
    width: 100%;
  }

.konten-tentang-saya a {
    background-color: #f509cd;
    border: 1px solid #f509cd;
    text-decoration: none;
    color: #ffffff;
    padding: 12px 30px;
    text-transform: uppercase;
    font-size: 20px;
}

.konten-tentang-saya a:hover {
    color: #666;
    border: 1px solid #f509cd;
    background-color: transparent;
    transition: 0.25s ease-in-out;
}


.konten-skills {
    display: grid;
    padding: 0px 0px 100px 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 50px;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.middle {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    margin: auto;
}

.konten-skills .gambarnya {
    padding: 30px;
    font-size: 30px;
    border-radius: 5px 20px 5px;
    color: #f509cd;
    box-shadow: 0px 5px 10px #f509cd;
}

.konten-skills p {
    font-size: 14px;
}

/* style logo terakhir */
footer {
    background-color: #DCDCDC;
    box-shadow: 0px 0px 10px #dcdcdc;
}

.konten-akhir {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 60px;
}

.konten-akhir img {
    width: 50px;
    padding: 30px 0px 10px 0px;
}

.konten-akhir p {
    font-size: 14px;
}